#logo-image{
    margin:0px auto;
    display:block;
}

#add-submission{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#submissions{
    max-width: 18rem;
    margin:0px auto;
}

#submissions-heading{
    text-align: center;
}