#logo-image{
    margin:0px auto;
    display:block;
}

#add-submission, #login-button{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}

#submissions{
    max-width: 18rem;
    margin:0px auto;
}

#submissions .card{
    background-color: white;
}

.card img{
    max-height: 200px;
    object-fit: cover;
}

#submissions-heading{
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: Bebas;
}

.dropdown-item{
    color: black !important;
}

.card-title{
    color: rgb(33, 37, 41);
}

.card-text{
    color: rgb(33, 37, 41);
}

.btn-pink{
    background-color: #f54d42;
    color: #f6f6f6;
}
.btn-pink:hover{
    color: white;
}

#login-button, #add-submission{
    background-image: linear-gradient(rgb(175, 226, 77), #17b978);
    border-radius: 0px;
    border-width: 0px;
}

@media (max-width: 800px){
    #add-submission, #login-button{
        position: static;
        bottom: unset;
        right: unset;
        z-index: unset;
        display: block; 
        margin:0px auto;
    }
}