#logo-image{
    margin:0px auto;
    display:block;
}

#add-submission, #login-button{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}

#submissions{
    max-width: 18rem;
    margin:0px auto;
}

#submissions-heading{
    text-align: center;
}

@media (max-width: 800px){
    #add-submission, #login-button{
        position: static;
        bottom: unset;
        right: unset;
        z-index: unset;
        display: block; 
        margin:0px auto;
    }
}