#logo-img{
    max-width: 100px;
    margin: 0px auto;
    display: block;
}
nav{
    width: 100vw;
}
#logo-img:hover{
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.navbar-nav .dropdown-menu{
    position: absolute;
}

nav{
    background-color: #ff6f3c !important;
}
nav *{
    color: white !important;
}

@font-face{
    src: url('/assets/fonts/Bebas.ttf');
    font-family: 'Bebas';
}
@font-face{
    src: url('/assets/fonts/Montserrat.ttf');
    font-family: 'Montserrat';
}

#nav-header{
    font-family: Bebas;
    text-align: center;
    margin: auto;
}
.subnav-link{
    font-family: Montserrat;
    text-align: center;
    margin: auto;
    font-weight: bold;
    width: 33%;
}
.subnav-link:hover{
    text-decoration: underline;
}

#nav-flex{
    display: flex;
}