.navbar-nav .dropdown-menu{
    position: absolute;
}

nav{
    background-color: #ff6f3c !important;
}
nav *{
    color: white !important;
}

@font-face{
    src: url('/assets/fonts/Bebas.ttf');
    font-family: 'Bebas';
}
@font-face{
    src: url('/assets/fonts/Montserrat.ttf');
    font-family: 'Montserrat';
}

#nav-header{
    font-family: Bebas;
    text-align: center;
    margin: auto;
}
#nav-profile{
    font-family: Montserrat;
    text-align: center;
    margin: auto;    
    display:block;
    font-weight: bold;
}
#nav-profile:hover{
    text-decoration: underline;
}