body{
    background-color: #155263;
}

@font-face{
    src: url('/assets/fonts/Bebas.ttf');
    font-family: 'Bebas';
}
@font-face{
    src: url('/assets/fonts/Montserrat.ttf');
    font-family: 'Montserrat';
}

.btn-orange{
    background-color: #f54d42;
    color: #f6f6f6;
}
.btn-orange:hover{
    color: white;
}
.centered{
    margin: 0px auto;
    display: block;
    text-align: center;
    padding: 10px;
}
.parallax-window{
    min-height: 400px;
    background: transparent;
}